* {
    font-family: 'Helvetica Neue', sans-serif;
}

header,
footer,
.introduction {
    background-color: #1f2937;
}

header h1 {
    font-size: 24px;
    color: #f9faf8;
}

header ul {
    list-style-type: none;
}

header a,
footer,
.introduction {
    font-size: 18px;
    text-decoration: none;
    color: #e5e7eb;
}

.introduction h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.introduction img {
    background-color: #e5e7eb;
    max-width: 360px;
}

.information img {
    max-width: 160px;
    border: 6px solid #3882f6;
    border-radius: 18px;
}

button {
    color: #e5e7eb;
    background-color: #3882f6;
    border: none;
    border-radius: 6px;
    padding: 8px 24px;
    font-weight: bold;
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
}

.quote figcaption {
    font-weight: bold;
    font-style: normal;
    font-size: 24px;
}

.signup {
    background-color: #3882f6;
    color: #f9faf8;
}