* {
    font-family: 'Helvetica Neue', sans-serif;
    /* border: 3px solid red; */
}

header,
footer,
.introduction {
    background-color: #1f2937;
    font-size: 16px;
    color: #e5e7eb;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0px 150px;
}

header h1 {
    font-size: 24px;
    color: #f9faf8;
}

header ul {
    list-style-type: none;
    display: flex;
    gap: 24px;
    padding: 0px;
}

header a {
    text-decoration: none;
    color: #e5e7eb;
}

.introduction {
    display: flex;
    justify-content: space-between;
    padding: 60px 150px;
    align-items: flex-start;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 48px;
}

.introduction h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0px;
}

.introduction img {
    background-color: #e5e7eb;
    max-width: 360px;
    margin: 0px;
    padding: 0px;
}

.information {
    text-align: center;
    padding: 0px 150px;
    margin-bottom: 100px;
}

.information h2 {
    padding: 20px;
}

.information-imgs {
    display: flex;
    justify-content: center;
    padding: 0px;
    gap: 24px;
}

.information div div {
    max-width: 200px;
}

.information img {
    max-width: 160px;
    border: 6px solid #3882f6;
    border-radius: 18px;
}

button {
    color: #e5e7eb;
    background-color: #3882f6;
    border: 3px solid #e5e7eb;
    border-radius: 6px;
    padding: 8px 24px;
    font-weight: bold;
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    padding: 0px 120px;
    display: flex;
}

.quote figcaption {
    font-weight: bold;
    font-style: normal;
    font-size: 24px;
    display: flex;
    justify-content: flex-end;
}

.signup {
    color: #f9faf8;
    display: flex;
    flex: auto;
    justify-content: center;
    padding: 50px 150px;
}

.signup_blue {
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 36px 100px;
    flex: 1;
    border-radius: 8px;
}

.signup_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 48px;
}

.signup_text h3,
.signup_text p {
    margin: 0px;
}